.tristate {
    position: relative;
    display: inline-block;
  }
  .tristate > input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  .tristate > input[type=radio] + i {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: top;
  }
  .tristate > input[type=radio] + i, .tristate > input[type=radio] + i:before, .tristate > input[type=radio] + i:after {
    transition: all 0.3s;
  }
  .tristate > input[type=radio]:first-child {
    z-index: 10;
  }
  .tristate > input[type=radio]:first-child:checked {
    z-index: 0;
  }
  .tristate > input[type=radio]:checked + input[type=radio] {
    z-index: 10;
  }
  .tristate > input[type=radio]:checked + i + label, .tristate > input[type=radio]:checked + i + label + label {
    display: none;
  }
  .tristate > input[type=radio]:checked + input[type=radio] + i + label, .tristate > input[type=radio]:checked + input[type=radio] + i + label + label + label {
    display: none;
  }
  .tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label, .tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label + label {
    display: none;
  }
  .tristate-checkbox > input[type=radio] + i {
    border: solid 2px #bdbdbd;
    border-radius: 3px;
  }
  .tristate-checkbox > input[type=radio] + i:before {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #8b8b8b;
    border-radius: 3px;
  }
  .tristate-checkbox > input[type=radio] + i:after {
    content: " ";
    display: block;
    position: absolute;
    left: 4px;
    top: 7px;
    color: white;
    border-bottom: solid 3px;
    opacity: 0;
  }
  .tristate-checkbox > input[type=radio]:checked + i {
    
    background-color: #009688;
  }
  .tristate-checkbox > input[type=radio]:checked + i:before {
    background-color: #009688;
  }
  .tristate-checkbox > input[type=radio]:checked + i:after {
    left: 1px;
    top: 2px;
    width: 8px;
    height: 5px;
    border-left: solid 3px;
    border-bottom: solid 3px;
    transform: rotate(-45deg);
    opacity: 1;
  }
  .tristate-checkbox > input[type=radio]:checked + input[type=radio] + i:after {
    width: 8px;
    height: 0px;
    border-left: none;
    border-bottom: solid 3px;
    transform: rotate(0);
    opacity: 1;
  }
  .tristate-checkbox > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:before {
    content: "\2715";
    font-weight: 700;
    color: red;
    background-color: transparent;
  }
  